<div class="col-md-6 offset-md-3">
  <h3> Create Customer </h3>
  <form (ngSubmit)="submitForm()" #loanForm="ngForm">

    <div class="form-group">
      <label> Full Name</label>
      <input type="text" class="form-control" id="fullName" [(ngModel)]="customer.fullName" name="fullName" required>
    </div>

    <div class="form-group">
      <label> Loan Amount</label>
      <input type="number" class="form-control" id="loanAmount" [(ngModel)]="customer.loanAmount" name="loanAmount"
        required>
    </div>

    <div class="form-group">
      <label> Equity Amount</label>
      <input type="number" class="form-control" id="equityAmount" [(ngModel)]="customer.equityAmount"
        name="equityAmount" required>
    </div>

    <div class="form-group">
      <label> Salary Amount</label>
      <input type="number" class="form-control" id="salaryAmount" [(ngModel)]="customer.salaryAmount"
        name="salaryAmount" required>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>

  </form>

  <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>
  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
  
</div>